<div class="card">
  <div class="card-header">
    {{ titulo }}
  </div>
  <div class="body">
    <div *ngIf="!cursos || cursos.length === 0" class="alert alert-info" role="alert">
      A simple info alert—check it out!
    </div>
    <div *ngIf="cursos.length > 0">
      <table class="table">
        <thead>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Fecha De Inicio</th>
          <th>Precio</th>
          <th>Rating</th>
          <th>Acciones</th>
        </thead>

        <tbody>
          <tr *ngFor="let item of cursos">
            <td><img [src]="item.imgUrl" /></td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.startDate }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.rating }}</td>
            <td>
              <span
                (click)="editarCurso(item.name)"
                (mouseover)="onMouseover($event)"
                (dblclick)="onDobleClick($event)"
              >
                <li class="fa fa-edit"></li>
              </span>
              <span>
                <li class="fa fa-trash"></li>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
